@{
    ViewData["Title"] = "Tuần 1: Khởi động";
}
<h1>@ViewData["Title"]</h1>

<h4>1. Setup môi trường</h4>
<ol class="list-group">
    <li class="list-group-item">IDE: Visual Studio 2022</li>
    <li class="list-group-item">Server: Azure SQL Edge</li>
    <li class="list-group-item">.NET Framework: 7.0</li>
    <li class="list-group-item">Entity Framework Core: yes</li>
</ol>
<h4>2. Tìm hiểu C# coding convention</h4>
<div class="card" style="width: 18rem;">
    <img src="https://iconape.com/wp-content/png_logo_vector/c.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Common C# code conventions</h5>
        <a href="https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/coding-conventions?redirectedfrom=MSDN" class="btn btn-primary stretched-link">Go</a>
    </div>
</div>
<h4>3. Mẫu kiến trúc MVC (Model - View - Controller)</h4>
<div class="container">
    <div class="grid">
        <div class="item">
            <h6>Ưu điểm</h6>
            <ul>
                <li>Tách biệt rõ ràng giữa các thành phần</li>
                <li>Tăng tính tái sử dụng</li>
                <li>Tăng tính bảo mật</li>
                <li>Tăng tính hiệu quả</li>
                <li>Dễ dàng học hỏi và sử dụng</li>
            </ul>
        </div>
        <div class="item">
            <h6>Nhược điểm</h6>
            <ul>
                <li>Khó khăn khi triển khai cho các ứng dụng nhỏ</li>
                <li>Yêu cầu kiến thức và kỹ năng cao</li>
            </ul>
        </div>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true" asp-area="" asp-controller="Student" asp-action="Index">Quản Lý Sinh Viên</a>
</div>
